{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% endblock %}
{% block body %}
     <section class="content-header">
      <h1>
        PET Ciência e Tecnologia
        <small>Comissão financeira</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      {% for message in messages %}
      <div ><div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div></div>
      {% endfor %}
      <div class="row">
         <a href="{{ BASE_URL_SITE }}/"><div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-home"></i></span>
      
                  <div class="info-box-content">
                    <span class="header">Voltar para o início</span>
                    
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div></a>
              <a href="#"><div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
              <span class="info-box-icon bg-blue"><i class="fa fa-usd"></i></span>

            <div class="info-box-content">
              <span class="header">Saldo do mês:</span>
              <h3>R$ {{ cash }}</h3>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div></a>
      </div>
      
      
     
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
            
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          
                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item">
                            <a class="page-link" href="{% if date_before_month %}{{ BASE_URL_SITE }}/monthly_entrances/{{ date_before_month }}{% else %}#{% endif %}">Mês anterior</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">Mês atual</a></li>
                          <li class="page-item {% if not date_after_month %}disabled{% endif %}">
                            <a class="page-link " href="{% if date_after_month %}{{ BASE_URL_SITE }}/monthly_entrances/{{ date_after_month }}{% else %}#{% endif %}">Próximo mês</a>
                          </li>
                        </ul>
                      </nav>











        

        
            <div class="box box-success">
     <div class="box-header with-border">
      <i class="fa fa-files-o"></i>
       <h3 class="box-title">Movimentações ({{ month }}/{{ year }})</h3>

       <div class="box-tools pull-right">
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
         </button>
         <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
       </div>
     </div>

     <div class="box-body no-padding">
                  
                          <table class="table">
<thead>
<tr>
 <th>{% blocktrans  %}Valor{% endblocktrans %}</th>
 <th>{% blocktrans  %}Descrição{% endblocktrans %}</th>
</tr>
</thead>
<tbody>
{% for entrance in entrances %}
<tr>
 <td>
   {% if entrance.value >= 0 %} <b style="color:darkblue">+ {{ entrance.value }}</b>
   {% else %} <b style="color:darkred">{{ entrance.value }}</b> {% endif %}
</td>
 <td>{{ entrance.description }}</td>
</tr>
 {% endfor %}
 
</tbody>
</table>
                  
                   </div>

   </div>

                      
                      
                      

  {% if user.is_staff %}
{% if graphs %}
   {% for graph in graphs %}
            <div class="box box-success">
     <div class="box-header with-border">
      <i class="fa fa-files-o"></i>
       <h3 class="box-title">{% blocktrans with variable=reduced.reduceds.0.original_serie.variable tipo_dado=reduced.discretization.type %}Hydrogram {{ variable }} - {{ tipo_dado }} Data{% endblocktrans %}</h3>

       <div class="box-tools pull-right">
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
         </button>
         <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
       </div>
     </div>

     <div class="box-body no-padding">
       <div class="">
         <div style="max-width:inherited;">
         {{ graph|safe }}
         </div>
       </div>

     </div>
  
   </div>
 {% endfor %} 
         {% endif %}
         {% endif %}
                      



















         
         
          <!-- Custom tabs (Charts with tabs)-->
          

          <!-- Chat box -->
          

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- solid sales graph -->
        
          {% if user.is_staff %}     
{% for form in forms %}

          <div class="box box-solid bg-blue-gradient">
            <div class="box-header">
              <i class="fa fa-usd"></i>

              <h3 class="box-title">{{ form.title }}</h3>

              <div class="box-tools pull-right">
               
                <button type="button" class="btn bg-blue btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-blue btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
            {% if form %}
              
            <form action="" method="POST" class="formularioEmail" enctype="multipart/form-data">
             
                {% csrf_token %}
                    {% for field in form %}
                <div class = "form-group">
                   
                  
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                       
                     
                            <label for="{{field.name}}"  >{{field.label}}</label>
                        

                        
                            {{ field }}
                        

                    
                </div>
                
                    {% endfor %}
                
     
                <button type="submit" name="{{ form.prefix }}" value="Submit" class="btn btn-primary btn-lg btn-block">Enviar</button>

            </form>



            {%  endif %}
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>

          {% endfor %}
          {% endif %}
          
                   
          <!-- /.box -->

          <!-- Calendar -->
         
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
{% endblock %}



















